.img {
  border-radius: 10px;
  width: 70vw;
  height: 35vh;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}
.campaignstyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-bottom: 2vh;
  text-align: center;
}
.ctext {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-left: 2vw;
  height: 35vh;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}
.h3text {
  font-size: 2.4rem;
  text-align: center;
  padding-top: 2vh;
  margin-bottom: 2vh;
  border-bottom: 3px solid #17f1ce;
  width: 10vw;
  margin-left: 20vw;
}
.cptext {
  font-size: 1.8rem;
  text-align: center;
  padding: 2%;
  line-height: 1.5;
  margin-bottom: 5vh;
}
.btnstyle {
  background-color: #8ff8e7;
  color: black;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  padding: 1% 2% 1% 2%;
  text-decoration: none;
  margin-top: 2vh;
  margin-right: 4%;
}
.phonewidth {
  width: 100vw;
  padding: 0 5vw 0 5vw;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Noto', serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
body {
  line-height: 1.5;
  color: #333;
  box-sizing: border-box;
}
* {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.bottom-line-h {
  height: 2px;
  width: 5rem;
  background: #17f1ce;
  display: block;
  margin: 0 auto 1rem auto;
}
.lpHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lpHeader nav {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1vh 0vh 2vh 0;
  font-size: 1.6rem;
  margin-top: 2vh;
  border-bottom: 2px solid white;
  font-family: "Noto", serif;
  font-size: 1.8rem;
}
@media (max-width: 800px) {
  .lpHeader nav {
    width: 40vw;
  }
}
@media (max-width:500px) {
  .lpHeader nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    width: 80vw;
    border-bottom: 2px solid #8ff8e7;
  }
}
.lpHeader nav a {
  text-decoration: none;
  color: white;
  text-align: center;
}
@media (max-width:500px) {
  .lpHeader nav a {
    color: black;
    border-bottom: 1px solid black;
    margin-bottom: 1.5vh;
    font-size: 2rem;
  }
}
.lpHeader nav a:hover {
  color: #f1173a;
}
.lpHeader:hover {
  background-color: rgba(123, 121, 121, 0.7);
  color: black;
}
@media (max-width:500px) {
  .lpHeader:hover {
    background-color: white;
  }
}
.lpHeader:hover nav {
  border-color: #8ff8e7;
}
@media (max-width:500px) {
  .lpHeader:hover nav {
    border-bottom: 2px solid #8ff8e7;
  }
}
.lpHeader:hover nav a {
  color: white;
}
@media (max-width:500px) {
  .lpHeader:hover nav a {
    color: black;
  }
}
.lpHeader:hover nav a:hover {
  color: #8ff8e7;
}
@media (max-width:500px) {
  .lpHeader:hover nav a:hover {
    color: #8ff8e7;
    border-bottom: 2px solid #8ff8e7;
  }
}
body {
  background-image: url("https://images.unsplash.com/photo-1504700610630-ac6aba3536d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}
@media (max-width:500px) {
  body {
    background-image: none;
  }
}
body .main-content {
  margin-bottom: 2vh;
}
body .main-content .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 80vw;
  margin-left: 10%;
  height: 55;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}
@media (max-width:500px) {
  body .main-content .intro {
    height: 80vh;
    width: 80vw;
    font-size: 1.8rem;
    margin-bottom: 4vh;
    -webkit-box-shadow: 0 0 10px #17f1ce;
    box-shadow: 0 0 10px #17f1ce;
  }
}
@media (max-width:500px) {
  body .main-content .intro h1:after {
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0 auto;
    /* This will center the border. */
    width: 80%;
    /* Change this to whatever width you want. */
    margin-bottom: 2rem;
    border-bottom: 2px solid #f1173a;
    /* This creates the border. Replace black with whatever color you want. */
  }
}
body .main-content .intro p {
  width: 70vw;
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 5vh;
}
body .main-content .intro a {
  background-color: #8ff8e7;
  color: black;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  padding-top: 12px;
  text-decoration: none;
  margin-bottom: 2rem;
}
@media (max-width:500px) {
  body .main-content .intro a {
    width: 20rem;
    height: 5rem;
    margin-bottom: 4rem;
    padding-bottom: 5rem;
    font-size: 3rem;
    background-color: #8ff8e7;
  }
}
body .main-content .intro a:hover {
  background-color: #17f1ce;
  -webkit-box-shadow: 0 0 10px #17f1ce;
  box-shadow: 0 0 10px #17f1ce;
}
body .campaigns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
body .campaigns .campaign1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-bottom: 2vh;
  text-align: center;
}
@media (max-width: 800px) {
  body .campaigns .campaign1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width:500px) {
  body .campaigns .campaign1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
  }
}
body .campaigns .campaign1 .c1img img {
  border-radius: 10px;
  width: 70vw;
  height: 35vh;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}
@media (max-width: 800px) {
  body .campaigns .campaign1 .c1img img {
    width: 80vw;
  }
}
@media (max-width:500px) {
  body .campaigns .campaign1 .c1img img {
    width: 80vw;
    margin-left: 1.5%;
    margin-bottom: 1vh;
    -webkit-box-shadow: 0 0 10px #f1173a;
    box-shadow: 0 0 10px #f1173a;
  }
}
body .campaigns .campaign1 .c1text {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-left: 2vw;
  height: 35vh;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}
@media (max-width: 800px) {
  body .campaigns .campaign1 .c1text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    font-size: 1.6rem;
  }
}
@media (max-width: 800px) {
  body .campaigns .campaign1 .c1text {
    width: 80vw;
  }
}
@media (max-width:500px) {
  body .campaigns .campaign1 .c1text {
    width: 80vw;
    height: 45vh;
    -webkit-box-shadow: 0 0 10px #17f1ce;
    box-shadow: 0 0 10px #17f1ce;
  }
}
body .campaigns .campaign1 .c1text h3 {
  font-size: 2.4rem;
  text-align: center;
  padding-top: 2vh;
  margin-bottom: 2vh;
  border-bottom: 3px solid #17f1ce;
  width: 10vw;
  margin-left: 20vw;
}
@media (max-width: 800px) {
  body .campaigns .campaign1 .c1text h3 {
    width: 20vw;
    margin-right: 18rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (max-width:500px) {
  body .campaigns .campaign1 .c1text h3 {
    width: 40vw;
    margin-left: 18rem;
  }
}
body .campaigns .campaign1 .c1text p {
  font-size: 1.8rem;
  text-align: center;
  padding: 2%;
  line-height: 1.5;
  margin-bottom: 5vh;
}
body .campaigns .campaign1 .c1text a {
  background-color: #8ff8e7;
  color: black;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  padding: 1% 2% 1% 2%;
  text-decoration: none;
  margin-top: 2vh;
  margin-right: 4%;
  margin-bottom: 2rem;
}
@media (max-width: 800px) {
  body .campaigns .campaign1 .c1text a {
    margin-top: 0;
  }
}
@media (max-width:500px) {
  body .campaigns .campaign1 .c1text a {
    margin-bottom: 5rem;
  }
}
body .campaigns .campaign1 .c1text a:hover {
  background-color: #17f1ce;
  -webkit-box-shadow: 0 0 10px #17f1ce;
  box-shadow: 0 0 10px #17f1ce;
}
body .campaigns .campaign2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin-bottom: 2vh;
  text-align: center;
}
@media (max-width: 800px) {
  body .campaigns .campaign2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width:500px) {
  body .campaigns .campaign2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
  }
}
body .campaigns .campaign2 .c2img img {
  border-radius: 10px;
  width: 70vw;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  height: 35vh;
}
@media (max-width: 800px) {
  body .campaigns .campaign2 .c2img img {
    width: 80vw;
  }
}
@media (max-width:500px) {
  body .campaigns .campaign2 .c2img img {
    width: 80vw;
    margin-left: 1.5%;
    margin-bottom: 1vh;
    -webkit-box-shadow: 0 0 10px #f1173a;
    box-shadow: 0 0 10px #f1173a;
  }
}
body .campaigns .campaign2 .c2text {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-left: 2vw;
  height: 35vh;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  margin-left: 0;
  margin-right: 2vw;
}
@media (max-width: 800px) {
  body .campaigns .campaign2 .c2text {
    width: 80vw;
    font-size: 1.6rem;
  }
}
@media (max-width:500px) {
  body .campaigns .campaign2 .c2text {
    width: 80vw;
    height: 45vh;
    margin-right: 0;
    margin-left: 2%;
    -webkit-box-shadow: 0 0 10px #17f1ce;
    box-shadow: 0 0 10px #17f1ce;
  }
}
body .campaigns .campaign2 .c2text h3 {
  font-size: 2.4rem;
  text-align: center;
  padding-top: 2vh;
  margin-bottom: 2vh;
  border-bottom: 3px solid #17f1ce;
  margin-left: 20vw;
  width: 10vw;
  margin-left: 18vw;
}
@media (max-width: 800px) {
  body .campaigns .campaign2 .c2text h3 {
    width: 20vw;
    margin-left: 22rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (max-width:500px) {
  body .campaigns .campaign2 .c2text h3 {
    width: 40vw;
    margin-left: 7rem;
  }
}
body .campaigns .campaign2 .c2text p {
  font-size: 1.8rem;
  text-align: center;
  padding: 2%;
  line-height: 1.5;
  margin-bottom: 5vh;
}
body .campaigns .campaign2 .c2text a {
  width: 150px;
  background-color: #8ff8e7;
  color: black;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  padding: 1% 2% 1% 2%;
  text-decoration: none;
  margin-top: 2vh;
  margin-right: 4%;
  margin-bottom: 2rem;
}
@media (max-width: 800px) {
  body .campaigns .campaign2 .c2text a {
    margin-top: 0;
  }
}
@media (max-width:500px) {
  body .campaigns .campaign2 .c2text a {
    margin-bottom: 5rem;
  }
}
body .campaigns .campaign2 .c2text a:hover {
  background-color: #17f1ce;
  -webkit-box-shadow: 0 0 10px #17f1ce;
  box-shadow: 0 0 10px #17f1ce;
}
body .campaigns .campaign3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-bottom: 2vh;
  text-align: center;
}
@media (max-width: 800px) {
  body .campaigns .campaign3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width:500px) {
  body .campaigns .campaign3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
  }
}
body .campaigns .campaign3 .c3img img {
  border-radius: 10px;
  width: 70vw;
  height: 35vh;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}
@media (max-width: 800px) {
  body .campaigns .campaign3 .c3img img {
    width: 80vw;
  }
}
@media (max-width:500px) {
  body .campaigns .campaign3 .c3img img {
    width: 80vw;
    margin-left: 1.5%;
    margin-bottom: 1vh;
    -webkit-box-shadow: 0 0 10px #f1173a;
    box-shadow: 0 0 10px #f1173a;
  }
}
body .campaigns .campaign3 .c3text {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-left: 2vw;
  height: 35vh;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}
@media (max-width: 800px) {
  body .campaigns .campaign3 .c3text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    font-size: 1.6rem;
  }
}
@media (max-width:500px) {
  body .campaigns .campaign3 .c3text {
    width: 80vw;
    height: 45vh;
    -webkit-box-shadow: 0 0 10px #17f1ce;
    box-shadow: 0 0 10px #17f1ce;
    margin-left: 0;
  }
}
body .campaigns .campaign3 .c3text h3 {
  font-size: 2.4rem;
  text-align: center;
  padding-top: 2vh;
  margin-bottom: 2vh;
  border-bottom: 3px solid #17f1ce;
  width: 10vw;
  margin-left: 20vw;
}
@media (max-width: 800px) {
  body .campaigns .campaign3 .c3text h3 {
    width: 20vw;
    margin-right: 18rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (max-width:500px) {
  body .campaigns .campaign3 .c3text h3 {
    width: 40vw;
    margin-left: 18rem;
  }
}
body .campaigns .campaign3 .c3text p {
  font-size: 1.8rem;
  text-align: center;
  padding: 2%;
  line-height: 1.5;
  margin-bottom: 5vh;
}
body .campaigns .campaign3 .c3text a {
  background-color: #8ff8e7;
  color: black;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  padding: 1% 2% 1% 2%;
  text-decoration: none;
  margin-top: 2vh;
  margin-right: 4%;
  margin-bottom: 2rem;
}
@media (max-width: 800px) {
  body .campaigns .campaign3 .c3text a {
    margin-top: 0;
  }
}
@media (max-width:500px) {
  body .campaigns .campaign3 .c3text a {
    margin-bottom: 5rem;
  }
}
body .campaigns .campaign3 .c3text a:hover {
  background-color: #17f1ce;
  -webkit-box-shadow: 0 0 10px #17f1ce;
  box-shadow: 0 0 10px #17f1ce;
}
body footer nav {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1vh 0vw 2vh 40vw;
  font-size: 1.6rem;
  margin-top: 2vh;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  font-family: "Noto", serif;
  font-size: 1.8rem;
}
@media (max-width: 800px) {
  body footer nav {
    width: 40vw;
    margin-left: 23rem;
  }
}
@media (max-width:500px) {
  body footer nav {
    width: 50vw;
    margin: 1vh 0vw 1vh 25vw;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }
}
body footer nav a {
  color: white;
  text-decoration: none;
  padding: 1% 0 1% 0;
}
@media (max-width:500px) {
  body footer nav a {
    color: black;
  }
}
body footer nav a:hover {
  color: #8ff8e7;
}
body footer nav:hover {
  border-bottom: 2px solid #8ff8e7;
  border-top: 2px solid #8ff8e7;
}
.aboutUsbod {
  background-image: none;
}
.aboutUsHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutUsHeader nav {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1vh 0vh 2vh 0;
  font-size: 1.6rem;
  margin-top: 2vh;
  font-family: "Noto", serif;
  font-size: 1.8rem;
}
@media (max-width:500px) {
  .aboutUsHeader nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    width: 80vw;
    border-bottom: 2px solid #8ff8e7;
  }
}
@media (max-width: 800px) {
  .aboutUsHeader nav {
    width: 40vw;
  }
}
.aboutUsHeader nav a {
  text-decoration: none;
  color: black;
  text-align: center;
}
@media (max-width:500px) {
  .aboutUsHeader nav a {
    color: black;
    border-bottom: 1px solid black;
    margin-bottom: 1.5vh;
    font-size: 2rem;
  }
}
.aboutUsHeader nav a:hover {
  color: black;
}
@media (max-width:500px) {
  .aboutUsHeader:hover {
    background-color: white;
  }
}
.aboutUsHeader:hover nav {
  border-color: #8ff8e7;
}
@media (max-width:500px) {
  .aboutUsHeader:hover nav {
    border-bottom: 2px solid #8ff8e7;
  }
}
.aboutUsHeader:hover nav a {
  color: black;
}
@media (max-width:500px) {
  .aboutUsHeader:hover nav a {
    color: black;
  }
}
.aboutUsHeader:hover nav a:hover {
  color: #8ff8e7;
}
@media (max-width:500px) {
  .aboutUsHeader:hover nav a:hover {
    color: #8ff8e7;
    border-bottom: 2px solid #8ff8e7;
  }
}
#section-a {
  background: #fff;
}
#section-a h2 {
  font-size: 2.3rem;
  text-align: center;
}
#section-a .bottom-line {
  height: 2px;
  width: 10rem;
  background: red;
  display: block;
  margin: 0 auto 1rem auto;
}
#section-a .members {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width:500px) {
  #section-a .members {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
#section-a .members .member {
  width: 30%;
  margin-bottom: 1.4rem;
}
@media (max-width: 800px) {
  #section-a .members .member {
    margin: 1.4rem 0.8rem;
  }
}
@media (max-width:500px) {
  #section-a .members .member {
    width: 100%;
  }
}
#section-a .members .member h2 {
  font-size: 2rem;
  font-family: "Noto Serif", serif;
  text-align: center;
}
#section-a .members .member p {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 0 1.5rem;
  font-weight: bold;
}
@media (max-width: 800px) {
  #section-a .members .member p {
    padding: 0rem;
    font-size: 1rem;
  }
}
@media (max-width:500px) {
  #section-a .members .member p {
    padding: 0 2rem;
  }
}
#section-a .members .member .team-image {
  width: 50%;
  margin: auto;
}
#section-a .members .member .team-image img {
  border-radius: 50%;
  border: 3px #17f1ce solid;
}
#section-a .members .member .icons {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
  text-decoration: none;
  color: #333;
}
#section-a .members .member .icons i:hover {
  color: #b3b3b3;
}
