.lpHeader{
  .displayflex(column);

  nav {
    width: 20vw;
    .displayflex(row, space-between, center);
    margin: 1vh 0vh 2vh 0;
    font-size: 1.6rem;
    margin-top: 2vh;
    border-bottom: 2px solid white;
    font-family: "Noto", serif;
    font-size: 1.8rem;
    
@media @tablet{
      width:40vw;
    }
    @media @phone {
      .displayflex(column);
      font-size: 1.6rem;
      width: 80vw;
      border-bottom: 2px solid @mint;
    }
    

    a {
      text-decoration: none;
      color: white;
      text-align: center;

      @media @phone {
        color: black;
        border-bottom: 1px solid black;
        margin-bottom: 1.5vh;
        font-size: 2rem;
      }
    }
    a:hover {
      color: @red;
    }
  }
}
.lpHeader:hover {
  background-color: rgba(123, 121, 121, 0.7);
  color: black;

  @media @phone {
    background-color: white;
  }
  nav {
    border-color: @mint;
    @media @phone {
      border-bottom: 2px solid @mint;
    }
    a {
      color: white;

      @media @phone {
        color: black;
      }
    }
    a:hover {
      color: @mint;

      @media @phone {
        color: @mint;
        border-bottom: 2px solid @mint;
      }
    }
  }
}
