body {
  background-image: url("https://images.unsplash.com/photo-1504700610630-ac6aba3536d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;

  @media @phone {
    background-image: none;
  }

  .main-content {
    margin-bottom: 2vh;
    .intro {
      .displayflex(column);
      margin-top: 2vh;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.8);
      width: 80vw;
      margin-left: 10%;
      height: 55vh;
      -webkit-box-shadow: 0 0 10px black;
      box-shadow: 0 0 10px black;

      @media @phone {
        height: 70vh;
        background-color: @mint;
      }

      p {
        text-align: center;
        width: 70vw;
        text-align: center;
        font-size: 1.8rem;
        padding-bottom: 5vh;
      }

      a {
        border-radius: 10px;
        background-color: @teal;
        color: black;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        font-size: 2rem;
        text-align: center;
        padding-top: 12px;
        text-decoration: none;

        @media @phone {
          width: 300px;
          height: 70px;
          margin-bottom: 4vh;
          padding-top: 2vh;
          font-size: 3rem;
          background-color: @red;
        }
      }
      a:hover {
        background-color: @teal;
        border: 1px solid black;
      }
    }
  }
  .campaigns {
    .displayflex(column, center, center);
    width: 100vw;

    .campaign1 {
      .campaignstyle();

      .c1img {
        img {
          .img();
        }
      }

      .c1text {
        .ctext();
        h3 {
          .h3text();
        }
        p {
          .cptext();
        }
        a {
          .btnstyle();
        }
      }
    }
    .campaign2 {
      .displayflex(row-reverse);
      width: 80vw;
      margin-bottom: 2vh;
      text-align: center;

      .c2img {
        img {
          .img();
          height: 35vh;
        }
      }

      .c2text {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        margin-right: 2vw;
        height: 35vh;
        -webkit-box-shadow: 0 0 10px black;
        box-shadow: 0 0 10px black;

        h3 {
          .h3text();
        }
        p {
          .cptext();
        }
        a {
          .btnstyle();
          margin-right: 0;
          margin-left: 4%;
        }
      }
    }
    .campaign3 {
      .campaignstyle();

      .c3img {
        img {
          .img();
        }
      }

      .c3text {
        .ctext();
        h3 {
          .h3text();
        }
        p {
          .cptext();
        }
        a {
          .btnstyle();
        }
      }
    }
  }
}
