body {
  background-image: url("https://images.unsplash.com/photo-1504700610630-ac6aba3536d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
    
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.main-content {
  .intro {
    .displayflex(column);
    margin-top: 20vh;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .45);
    width:80%;
    margin-left:10%;
    height: 45vh;

    p {
      text-align: center;
      width: 70vw;
      text-align: center;
      font-size: 1.8rem;
      padding-bottom: 5vh;
    }

    a {
      border-radius: 10px;
      background-color: @teal;
      color: black;
      width: 150px;
      height: 50px;
      border-radius: 10px;
      font-size: 2rem;
      text-align: center;
      padding-top: 12px;
      text-decoration: none;
    }
    a:hover {
      background-color: @mint;
    }
  }
}
