.displayflex(@direction:row, @justify:center, @align:center){
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}

.btnmixin(@backgroundcolor, @color, @width, @height){
    background-color:@backgroundcolor; 
    color: @white;
    width:@width;
    height: @height;
    border: 1px solid @button-bg;
    border-radius:10px;
}

.phonewidth{
    width: 100vw;
    padding: 0 5vw 0 5vw;
}

